body {
   background-color: #315237;
}

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a {
  color: white;
}

.viewport {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 6vh;
  text-align: center;
  color: #ffffff !important;
  font-family: 'Roboto', sans-serif;
  padding: 1vh;
}
